/* Eric Meyer compressed reset css */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
a{
    color:inherit;
    text-decoration:none;
}
/* je eigen styling start hier 
font-family: 'Figtree', sans-serif; (name) h2: video titles, 
font-family: 'Ysabeau', sans-serif; p 
font-family: 'Work Sans', sans-serif; h3 nav 2, work titles
font-family: 'Roboto Slab', serif; h1 
font-family: 'Josefin Slab', serif; h4 work hover,
*/

html {
    scroll-behavior: smooth;
  }
body {
    width: 100vw;
    background-color: white;
    color: black;
    text-align: center;
}
.dark-mode {
    background-image: url('../images/background.JPG') ;
    background-color:  #272932;
    color:white;
}
.dark-mode2 { background: #272932; color:white ;
}

.dark-mode .nav button { left: calc(100% - 25px); background-color: black;
}
.dark-mode #toggle  { background: white !important;
}
.nav {   
    top: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 15pt;
    font-weight: bolder;
    list-style-type: none;  

    position: fixed;
    max-width: 200px;
    min-width: 100px;
    width: 20vw;
    /* background-color: blue; */
}


.nav li { padding: 15px 20px; }
.sub-nav { font-weight: lighter;}

#toggle {
    position: relative;
    padding: 0;
    width: 55px;
    height: 25px;
    border-radius: 50px;
    background-color: black;
    margin: 30px auto ;
}
.nav button {
    position: absolute;
    left: 5px;
    top: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: left .5s ease;
    background-color: white;
}
.name {
    font-family: 'Figtree', sans-serif;
    font-size: 20pt;
    font-weight: bold;

    position: absolute;
    right: 10vw;
    top: 30px;

}

p {
    font-family: 'Ysabeau', sans-serif;
    margin-top: 1em;
    font-size: 15pt;
    text-align: center;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20pt;
    margin: 30px;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 15pt;
}

h3 {
    font-family: 'Work Sans', sans-serif;

}

h4 {
    font-family: 'Josefin Slab', serif; 
    font-size: 30px;
    text-align: center;
   
}
@media all and (max-width: 494px) {
    h2 {
        font-size: 12pt;
    }
    .nav {
        font-size: 12pt;
    }
    .name {
        font-size: 15pt;
    }

}