.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    color: white;
    position: relative;
    background-color: lightslategrey;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 75vh;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.imgs-cont {
    width: calc(90vw - 200px);
    margin: 100px 10vw 0 200px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs-cont li {
    position: relative;
}
.img-hor {
   height: 262px;
}

.img-vert {
    max-height: 262px;
}

.hover-box {
    height: 262px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #2729328e;
}

.title {
    text-align: center;
    font-size: 20pt;
    color: white;
    transition: .5s ease;
    margin: 120px auto;
}

.imgs-cont li .hover-box:hover {
    opacity: 1;
}


.imgs-cont a:hover .title::before {
    content: "▶︎";
}


/* modal content  */
.text-right {
    position: absolute;
    top: 100px;
    right: 5vw;

    width: 30vw;
}

.mySlides{
    margin: 0 auto;
    left: 100px;
    max-width: 35vw;
    max-height: 600px;
}
 iframe {
    height: 60vh;
}

.video-container {
text-align: left;
padding-left: 20px;
}
.display-container {
    /* background-color: aqua; */
    position: relative;
    width: 45vw;
}
.display-container button {
    position: absolute;
    top: 100px;
    width: 30px;
    height: 30px;
    background-color:white;
    border: none;
    border-radius: 50%;
}
.display-left {left: 0;
}
.display-right {right: 0;
}

@media (pointer: course) {
    .imgs-cont li .hover-box {
        opacity: 1; 
    }
}
@media all and (max-width: 800px)  {
    .text-right {
        font-size: 10pt;
        margin-left: 10vw;
    }
    .display-container {
        max-height: 400px;
    }
    .display-container button {
        top: 50px;
        width: 20px;
        height: 20px;
    }


    .img-hor {
        max-height: 124px;
    }

    .img-hor .hover-box {
        height: 124px;
    }

    .img-hor .title {
        margin-top: 50px;
    }

    .title {
        font-size: 15pt;
    }
}

/* telefoon */
@media all and (max-width: 670px) {
    .imgs-cont {
        width: calc(90vw - 150px);
        margin: 100px 10vw 0 150px;
    }
    .display-container {
        width: 75vw;
        max-height: 80vh;
    }
    .display-container button {
        top: 100px;
        width: 20px;
        height: 20px;
    }

    .text-right {
        position: relative;

        width: 70vw;
    }
    .mySlides{ 
        max-width:  60vw;
    max-height: 400px;
    }
    iframe {
        max-height: 300px;
    }

}

@media all and (max-width: 494px) {
    .imgs-cont {
        justify-content: flex-end;
    }
    .display-container button {
        top: 75px;
        font-size: 5px;
        width: 15px;
        height: 15px;

    }
}