body {
    background: url('../images/light-big.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}

.dark-mode #about {
    background-color: #222222;
}

.dark-mode #contact {
    background-color: #3A4650;
}

.name {
    font-size: 40pt;
    right: calc(50vw - 200px);
    top: calc(50vh - 50px);
}

.grid {
    display: grid;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: calc(100vw / 1.5) 1fr 200px 200px;
}

#about {
    height: 300px;
    width: 100vw;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #a7b88e;
}

.bio {
    margin: 0 auto;
    width: 60vw;
}

#about img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#contact {
    width: 100vw;
    height: 250px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #E8DEDE;

}

.info {
    margin: 0 auto;
    width: 300px;
    line-height: 35px;
}

/* tussendoor */
@media all and (max-width: 1150px) and (min-width: 700px) {
    .name {
        top: calc(50vw / 1.5 - 50px);
    }
}

/* telefoon */
@media all and (max-width: 820px) {
    body {
        background: url('../images/light-small.jpg');
        background-size: contain;
        background-repeat: no-repeat;

    }

    #about {
        background-color: rgb(218, 211, 126);
    }

    .grid {
        grid-template-rows: calc(100vw * 1.5) 1fr 200px 200px;
    }

    .dark-mode {
        background-image: url('../images/dark-small.jpg');
        background-color: black;
    }

    .dark-mode #about {
        background-color: #25080B;
    }

    .dark-mode #contact {
        background-color: #242847;
    }
}

@media all and (max-width: 700px) {
    .name {
        font-size: 20pt;
        right: 10vw;
        top: 30px;
    }

    p {
        font-size: 12pt;
        text-align: right;
    }

    #about {
        text-align: right;
    }

    .bio {
        margin: 0 5vw 0 35vw;
        width: 60vw;
    }

    #contact {
        text-align: right;
    }

    .info {
        margin-right: 5vw;
    }
}

@media all and (max-width: 526px) {
    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 12pt;
    }

    .name {
        font-size: 15pt;
    }

}