body {
    background: url('../images/leeds/background.png');
    background-color: #17161d;
    background-attachment: fixed;
    height: fit-content;
    text-align: left;
    width: 100vw;
    color: white;
}

  .path {
    fill: none;
    stroke: #a7b88e;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke-dasharray: 13000.75;
    stroke-dashoffset: 13000.75;
  }



#lijn {
    /* background-color: #b3b3ee; */
    position: absolute;
    top: -100px;
    width: 1300px;
    z-index: -1;

}
.dark-mode2 {
    background: url('../images/leeds/background.png');
    background-attachment: fixed;
    height: fit-content;
    background-color: #17161d;
    color: white;
}
.nav {
    text-align: center;
    position: absolute;
  }
h9 {font-family: 'Slackside One', cursive;
    font-size: 35pt;
    position: relative;}
h9:before {
        content: "";
        display: block;
        width: 20vw;
        height: 5px;
        background: #b3b3ee;
        left:15vw;
        top: 50%;
        position: absolute;
      }
h9:after {
        content: "";
        display: block;
        width: 20vw;
        height: 5px;
        background: #b3b3ee;
        right: 15vw;
        top: 50%;
        position: absolute;
      }
#grid-leeds {
    display: grid;
    overflow: hidden;
    margin-top: 100px;
    grid-template-columns: repeat(20, calc(100vw / 20));
    grid-template-rows: repeat(162, 80px);
}

h1 {
    text-align: left;
    margin: 20px 0 0 0 ;
    grid-area: 1 / 5 / 2 / 15;
    padding-top: 40px;
}
.begin-text{
    margin: 20px 0 0 0 ;
    grid-area: 3 / 5 / 6 / 12;
}
.transition-1 {
position: fixed;
left: 60vw;
top: 260px;
z-index: 101;
width: 500px;
height: 310px;
background: url('../images/leeds/video-page.png');
background-size: contain;
opacity: 0;
pointer-events: none;
transition: .5s ease-in;
}

.transition-1.is-active {
    position: fixed;
    top: 100px;
    left: 200px;
    right: 100px;
    width: 80vw;
    height: 100vh;
    opacity: 1;
    pointer-events: all;
}
.video-page {
    width: 500px;
}
#link-page {
    grid-area: 3 / 13 / 3 / 20 ;
}


.portfolio-item {
    border-radius: 20px;
width: 300px;
height: 350px;
}

.portfolio-item h2 {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 20pt;
    text-align: center;
    margin-top: 30px;
}
.dummy {
    opacity: 0;
    transition: all 1s;
}

.dummy.show {
    opacity: 1;
}

.photo {
    background: url('../images/leeds/photo-klein.JPG');
    background-size: cover;
    grid-area: 9 / 4 / 13 / 8;
}

.rem {
    background-color: lightslategray;
    /* background: url('../images/reminiscence2.png');
    background-size: cover; */
    grid-area: 9 / 9 / 13 / 13;
}

.story {
    background-color: rosybrown;
    /* background: url('../images/reisverhaal2.png');
    background-size: cover; */
    grid-area: 9 / 14 / 13 / 18;
}
.title {
    text-align: center;
}
.note {
    z-index: 3;
    width: 600px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 32pt;
}
.ondertitel {
    width: 600px;
    font-size: 15pt;
    font-family: 'Cutive Mono', monospace;
}
.item-1 {
    grid-area: 15 / 1 / 15 / 21;
}
.text-12 {
    grid-area: 19 / 10 ;
}
#mist {
width: 464px; 
grid-area: 17 / 2  ;
}

#green-planets {
    justify-self: end;
    align-self: end;
    width: 464px; 
grid-area: 20 / 13 / 26 / 21;
}
#expo {
    width: 696px; 

    grid-area: 32 / 5  ;
}
#hover-box {
    font-family: 'Figtree', sans-serif;
    font-size: 30pt;
    text-align: center;
    padding-top: 220px;
    width: 696px; 
    height: 300px;
    grid-area: 32 / 5  ;
background-color: #e8e3de6e;
    z-index: 2;
    opacity: 0;
}
#hover-box:hover {

    opacity: 1;
}


.text-1 {

    grid-area: 29 / 12  ;
}
.text-2 {
    width: 370px;
    grid-area: 38 / 2  ;

}
#vierkant {
    width: 250px;
    grid-area: 30 / 15  ;
    z-index: 1;
}
#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 2400px;
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: white;
  }

#woods {
    grid-area: 48 / 1  ;
    width: 696px; 
}
#sketch-1 {
    grid-area: 48 / 13 ;
}
#house {
    justify-self: end;
    width: 510px; 
    grid-area: 42 / 15 / 46 / 20;
}
.text-13 {
    grid-area: 45 / 8; 
}
.text-14 {
    grid-area: 52 / 11; 
}
.text-7{
    width: 400px;
    height: 500px;
    grid-area: 59 / 8 ;
}
#dinner-1 {
    width: 510px; 
    grid-area: 66 / 4 ;
}

#dinner-2 {
    width: 310px; 
    grid-area: 58 / 3  ;
}

#dinner-3 {
    width: 546px; 
    justify-self: end;
    grid-area: 56 / 15 / 56 / 21;
}

#dinner-4 {
    width: 464px; 
    justify-self: end;
    grid-area: 64 / 19 ;
}

.item-2 {

    grid-area: 75 / 1 / 75 / 21;
}
#bosco {
    width: 464px; 
    grid-area: 80 / 1 ;
}
.text-3{
    grid-area: 78 / 5 ;
}
.text-4 {
    grid-area: 80 / 8 ;
}

.sub-1 {
    grid-area: 88 / 2 ; 
}
.sub-2 {
    text-align: end;
    width: 280px;
    align-self: center;
    grid-area: 89 / 17 ;  
}
.text-5 {
    width: 400px;
    grid-area: 83 / 9 ; 
}
.arrow-1 {
    width: 100px;
    grid-area: 87 / 7 ;   
    transform: scaleX(-1);
}
#dystopian {
    width: 200px; 
    grid-area: 77 / 14 ;
}
#matera {
    width: 310px; 
    justify-self: end;
    grid-area: 84 / 1 / 84 / 21;
}
.text-6 {
    width: 800px;
    grid-area: 89 / 5 ; 
}
#car-1{
    width: 464px; 
    justify-self: end;
    grid-area: 95 / 15/ 95/ 20  ;
}
#car-2{
    width: 250px; 
    grid-area: 91 / 5  ;
}
#car-air{
    width: 464px; 
    grid-area: 106 / 10 ;
}
.text-9 {
    grid-area: 97 / 3 ;
}
.text-10 {
    grid-area: 99 / 5 ;
}
#rail {
    width: 310px; 
    grid-area: 101 / 3  ;
}
.arrow-2 {
    width: 100px;
    grid-area: 105 / 7 ;   
    transform: scaleX(-1);
}
.text-8 {
    text-align: end;
    width: 400px;
    grid-area: 107 / 3  ;}

#myko {
    width: 464px; 
    justify-self: end;
    grid-area: 117 / 10/ 117/ 21 ;
}

.text-11 {
    width: 800px;
    height: 150px;
    grid-area: 116 / 4  ;}


.item-3 {

    grid-area: 134 / 1/ 134/ 21 ;
}

#sketch-3 {
    grid-area: 126 /13  ;
    width: 200px;
}

iframe {
    grid-area: 121 / 5/ 137/ 21 ;
    width: 500px;
    height: 800px;
}
.mySlides{
    margin: 0 auto;
    left: 100px;
    width: 600px;
}
.display-container {
    position: relative;
    grid-area: 138 / 6 ; 
    width: 800px;
    height: 850px;

}
.display-container button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #a7b88e;
    border: none;
    border-radius: 50%;

}
.display-left {

    left: 0;
}
.display-right {

    right: 0;

}
.text-15 {
    width: 500px;
    grid-area: 136 / 2 ; 
}
.text-16 {
    width: 300px;
    grid-area: 139 / 16 ; 
}
.text-17 {
    width: 300px;
    grid-area: 146 / 3 ; 
}

.eind-text { 
    font-size: 30pt;
    padding: 0 200px 0 200px;
    font-family: 'Cutive Mono', monospace;   
    grid-area: 157 / 1 ; 
    /* background-color: aquamarine; */
    width: calc(100vw - 400px);
}


button.back-up {
    font-family: 'Josefin Slab', serif;
    font-size: 15pt;
    grid-area: 161 / 3 ; 
    background-color: #b3b3ee;
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
}



@media all and (max-width: 1480px)  {
    .portfolio-item {
    width: 250px;
    height: 350px;
    }
    img.video-page {
        width: 380px;
    
    }.note {
        width: 400px;
        font-family: 'Reenie Beanie', cursive;
        font-size: 27pt;
    }
    .text-12 {
        grid-area: 19 / 12 ;
    }
    #green-planets {
    grid-area: 26 / 13 / 26 / 21;
    }
    .text-13 {
        grid-area: 45 / 2; 
    }
    .text-14 {        
        width: 200px;
        grid-area: 50 / 16; }
    .text-7{
            width: 500px;
            grid-area: 61 / 10 ;
        }
    #dinner-1 {
    width: 510px; 
    grid-area: 66 / 1 ;}
    #dinner-4 {
        grid-area: 65 / 19 ;

    }
    .text-5 {
        width: 200px;
        grid-area: 82 / 11 ; 
    }
    .sub-2 {
        grid-area: 89 / 15 ;  
    }
    .text-8 {
        grid-area: 107 / 2  ;}
        iframe {
            grid-area: 121 / 1/ 137/ 21 ;

        }
}
